In [221]:
import pandas as pd
import random
import datetime as dt

In [202]:
mulai_pengajaran = dt.datetime(year=2020, month=9, day=21) #senin
df = pd.read_csv("tbl0.csv")
df.index.name = "index"

# Pendaftaran tutup setelah total jam 60|61|62

In [204]:
#pendaftaran ditutup saat total jam pengajar mencapai 60|61|62
#maka, sort database dengan waktu, ambil data dari awal hingga jam nya 60|61|62 sort
df = df.sort_values("waktu_dftr")
df = df.reset_index()
df["cumsum"] = df["jam"].cumsum()
limit_hours = [60, 61, 62]
from_limits = [df.where((df["cumsum"]==i)).dropna() for i in limit_hours]

print(df)

    index  Unnamed: 0     nama  waktu_dftr  jam  senin  selasa  rabu  kamis  \
0      49          49  right49  2020-09-12    2      1       1     1      0
1      75          75  right75  2020-09-12    1      0       0     1      1
2      80          80  right80  2020-09-12    2      1       0     0      0
3      31          31  right31  2020-09-12    2      1       1     1      1
4      32          32  right32  2020-09-12    3      1       1     0      1
..    ...         ...      ...         ...  ...    ...     ...   ...    ...
95     61          61  right61  2020-09-21    2      0       0     0      0
96     76          76  right76  2020-09-21    2      1       1     0      1
97     29          29  right29  2020-09-21    3      0       0     1      1
98     42          42  right42  2020-09-21    1      1       0     1      1
99     73          73  right73  2020-09-21    3      1       1     1      1

    jumat  sabtu  cumsum
0       1      0       2
1       1      1       3
2       0      0       5
3       1      0       7
4       0      1      10
..    ...    ...     ...
95      0      1     185
96      1      0     187
97      0      1     190
98      1      1     191
99      1      1     194

[100 rows x 12 columns]

In [205]:
print(df.iloc[21])

index                 57
Unnamed: 0            57
nama             right57
waktu_dftr    2020-09-13
jam                    3
senin                  1
selasa                 1
rabu                   1
kamis                  1
jumat                  0
sabtu                  1
cumsum                44
Name: 21, dtype: object

In [206]:
#hapus dari from_limits yang tidak ada datanya
from_limits = [i for i in from_limits if len(i["nama"])!=0]
print(from_limits)

[    index  Unnamed: 0     nama  waktu_dftr  jam  senin  selasa  rabu  kamis  \
29   21.0        21.0  right21  2020-09-14  3.0    0.0     0.0   0.0    0.0

    jumat  sabtu  cumsum
29    1.0    1.0    60.0  ]

In [216]:
#ambil yang terbanyak
data_limit = from_limits[-1]
print(data_limit)

    index  Unnamed: 0     nama  waktu_dftr  jam  senin  selasa  rabu  kamis  \
29   21.0        21.0  right21  2020-09-14  3.0    0.0     0.0   0.0    0.0

    jumat  sabtu  cumsum
29    1.0    1.0    60.0

In [217]:
#dapatkan indexnya
index_limit = int(data_limit.index.tolist()[0])
print(index_limit)

29

In [228]:
#ambil data dengan slicing 
new_df = df.iloc[0:index_limit+1]
del new_df["index"]
del new_df["Unnamed: 0"]
print(new_df)

new_df.to_csv("temp0.csv")

       nama  waktu_dftr  jam  senin  selasa  rabu  kamis  jumat  sabtu  cumsum
0   right49  2020-09-12    2      1       1     1      0      1      0       2
1   right75  2020-09-12    1      0       0     1      1      1      1       3
2   right80  2020-09-12    2      1       0     0      0      0      0       5
3   right31  2020-09-12    2      1       1     1      1      1      0       7
4   right32  2020-09-12    3      1       1     0      1      0      1      10
5   right83  2020-09-12    3      0       0     0      0      0      1      13
6   right87  2020-09-12    2      0       0     1      0      0      1      15
7   right33  2020-09-12    3      1       0     0      1      0      1      18
8   right34  2020-09-12    2      1       1     1      1      1      1      20
9   right14  2020-09-12    2      1       0     0      1      1      1      22
10  right59  2020-09-12    1      1       1     0      1      1      0      23
11  right13  2020-09-12    1      0       1     0      1      0      1      24
12  right93  2020-09-12    2      1       1     1      1      1      1      26
13  right58  2020-09-12    2      0       0     1      0      0      0      28
14  right39  2020-09-12    1      0       0     0      0      1      0      29
15   right1  2020-09-12    3      1       1     0      1      0      1      32
16  right91  2020-09-13    3      1       1     0      1      0      0      35
17  right10  2020-09-13    2      1       1     0      1      1      1      37
18  right90  2020-09-13    1      1       1     1      1      1      1      38
19  right94  2020-09-13    1      1       1     1      1      1      1      39
20  right36  2020-09-13    2      1       0     0      0      0      0      41
21  right57  2020-09-13    3      1       1     1      1      0      1      44
22  right51  2020-09-13    2      1       1     1      1      0      1      46
23  right50  2020-09-13    2      0       0     1      1      0      1      48
24   right2  2020-09-13    3      1       1     1      1      1      1      51
25  right11  2020-09-13    1      0       0     1      0      0      0      52
26  right66  2020-09-13    1      0       1     0      0      1      0      53
27  right46  2020-09-14    1      1       1     1      1      1      1      54
28   right6  2020-09-14    3      0       0     0      0      1      0      57
29  right21  2020-09-14    3      0       0     0      0      1      1      60

# Sedapat mungkin 48 jam

In [237]:
all_days = "senin selasa rabu kamis jumat sabtu".split(" ")

#tambahkan kolom jumlah hari mengajar
new_df["day_counts"] = new_df[all_days].sum(axis=1)
new_df = new_df.sort_values("day_counts")
new_df.reset_index(inplace=True)
del new_df["index"]
del new_df["level_0"]

#tambahkan kolom total_hours
new_df["total_hours"] =

SyntaxError: invalid syntax (<ipython-input-237-3e21e9ab330d>, line 11)